#header1{
    background-color: brown;
    }
    
    .bi{
        background-color: rgb(56, 139, 0);
    }
    
    #header2{
        background-color: rgb(14, 0, 139);
    }
    
    .bt{
        background-color:lime;
    }